 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
}

p {
  max-width: 800px;
  /* Adjust the value based on your desired text width */
  margin: 0;
}