 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

<<<<<<< HEAD
/* body {
  display: flex;
  justify-content: center;
} */

.aboutpage
{
 display: flex;
  justify-content: center;

}
=======
>>>>>>> dce6d60258eef8ec7472fea2e43b2f207008b36c

 .aboutinfo{
display: flex;
justify-content: center;
max-width: 150px;
 }
