@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body {
  font-family: 'Roboto Condensed', sans-serif;
}


nav {
    padding: 10px;
    background-color: rgb(97, 160, 45)
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    background-color: #ddd;
  }

  .gofit-header {
    letter-spacing: 5px;
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  